article {
	width:450px;
	height:300px;
	background-color:#F2F2F2;
	margin: 20px 15px 20px 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

article img {
	width: 170px;
	height: 200px;
}

div.descripcion {
	text-align: left;
}

.tituloarticulo {
	font:normal normal 14px NanumGothic;
	color:black;
	letter-spacing:4px;
	text-align:left;
}
