article {
	width:1500px;
	height:600px;
	border:2px solid #275A95;
	background-color:#BCCACE;
	position:relative;
}

img {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

div.descripcion {
	position:absolute;
	top:200px;
	bottom:0;
	left:0;
	right:100px;
}

.tituloarticulo {
	font:normal normal 24px quicksand;
	color:#1C12DC;
	letter-spacing:4px;
	text-align:center;
}

