  .boton{
 border: none;
 background: #2E2E2E;
 color: #F4FA58;
 padding: 5px;
 font: normal normal 18px NanumGot;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
  }
  
  .boton:hover{
 background: #F4FA58;
 color: #2E2E2E;
 box-shadow: inset 0 0 0 3px #2E2E2E;
  }
