  .boton{
 border: none;
 background: #2E2E2E;
 color: #F4FA58;
 padding: 5px;
 font-family: 'Raleway', sans-serif;
 border-radius: 5px;
 box-sizing: border-box;
 transition: all 500ms ease;
  }

  .boton:hover{
 background: #F4FA58;
 color: #2E2E2E;
 box-shadow: inset 0 0 0 3px #2E2E2E;
  }
