.centros{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.centros img{
  width:70px;
  height:70px;
}

.centros span{
  font-family: NanumGothic;
  font-size: 14px;
  color: black;
}
