.centros{
  width: auto;
  height: 100px;
  display: flex;
  flex-direction: row;
	justify-content: space-around  ;
	align-items: flex-start;
}

.centros img{
  align-items: center;
  width:70px;
  height:70px;
}

.centros span{
  margin-left: 5px;
  font-family: NanumGothic;
  font-size: 14px;
  color: black;
}
