header {
	height:100px;
	background-color: #F4FA58;
  display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

header img {
	height: 90px;
	margin-left: 5px;
	background-image: url("imagenes/logotipo.jpeg");
	border-radius: 7px;
	box-shadow: 0 0 15px black;
	background: black;
}

header span{
  margin-left: 350px;
	font-size: 20px;
	font-family: NanumGothic;
	font-weight: bolder;
	color: black;
}

.venta {
  width: 400px;
  height: 450px;
  margin-left: 200px;
	margin-top: 50px;
  background-color: white;
}

body {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  height: 30px;
  padding-top: 40px;
}

span {
  color:black;
  font-weight: bold;
  font-family: NanumGothic;
  font-size: 25px;
}

p {
    color:#635755;
    font-family: NanumGothic;
    font-weight: 600;
    font-size: 15px;
    text-align: justify;
}

strong{
  font-weight: bolder;
  color: red;
}

h1 {
  color:#BD2B0B;
  font-weight: bold;
  font-family: NanumGothic;
  font-size: 25px;
}

.crearcuenta a{
  color:#BD2B0B;
  font-size: 16px;
  text-align:center;
  text-decoration: none;
}
