header {
  width: 100%;
  height:auto;
  background-color: #F4FA58;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
}

header img{
  height: 90px;
  border-radius: 5px;
}

header span{
  font-family: 'Raleway', sans-serif;
  margin-left:200px;
  line-height: 90px;
  font-size: 20px;
}
	

section {
	margin: 20px 15px 20px 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

section img {
	width: 200px;
	height: 200px;
}

details {
	text-align: left;
}

.nombre {
	font:normal normal 20px NanumGot;
	color:black;
	letter-spacing:4px;
	text-align:left;
}

a {
	text-decoration:none;
}
