header {
  width: 100%;
  height:auto;
  background-color: #F4FA58;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
}

header img{
  height: 90px;
  border-radius: 5px;
}

header span{
  font-family: 'Raleway', sans-serif;
  margin-left:300px;
  line-height: 90px;
  font-size: 20px;
}

body{
  background-color: black;
}

.contenedor {
  margin-top: auto;
  background-color:black ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 70%;
  margin-top: 200px;
  border-radius: 10px;
  background-color: #2E2E2E;
}

form  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form span {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  letter-spacing: 3px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

form p {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
}

::placeholder {
  font-size: 20px;
}

button {
  margin: 20px 0px 10px 300px;
  width: 80px;
}

input {
  font-family: 'Raleway', sans-serif;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  margin: 30px 150px;
}

footer {
  margin-top: 100px;
}

@media screen and (max-width:400px),(max-width:415px){
    header {
      height: 50px;
      display: flex;
      flex-wrap: nowrap;
    }

    header img{
      height: 50px;
      border-radius: 5px;
    }

    header span{
      margin-left:70px;
      line-height: 50px;
      font-size: 15px;
    }


  ::placeholder{
    font-size: 10px;
  }

  section {
    width: auto;
    margin-top: 150px;
}

  form span {
    margin-top: 8px;
    font-size: 15px;
  }

  form p {
    font-size: 12px;
  }

  button {
    margin: 20px 0px 10px 130px;
    font-size: 11px;
  }

  input {
    height: 25px;
    margin: 15px 70px;
  }

  select {
    margin-left: 70px;
    height: 25px;
  }

  footer {
    margin-top: 200px;
  }

}
