.copyright{
  height:50px;
	color:white;
	background-color: #2E2E2E;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}

.copyright p{
  font-size: 13px;
  font-family: NanumGothic;
  font-weight: lighter;
  color:white;
}
