body {
  background-color: black;
}

article{
  margin-left: 200px;
  margin-top: 50px;
  width: 600px;
  height: 300px;
  border:20px solid white;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: NanumGothic;
  font-weight: lighter;
  color: black;
}

p{
  font-family: NanumGothic;
  font-weight: lighter;
  color: black;
  text-align: justify;
}
