header {
  width: 100%;
  height:auto;
  background-color: #F4FA58;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
}

header img{
  height: 90px;
  border-radius: 5px;
}

header span{
  font-family: 'Raleway', sans-serif;
  margin-left:300px;
  line-height: 90px;
  font-size: 20px;
}

.caja	 {
  margin-top: auto;
  background-color:black ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
}

::placeholder {
  font-size: 20px;
}

section {
  width: 600px;
  margin-top: 150px;
  border-radius: 10px;
  background-color: #2E2E2E;
}

section img {
  width: 150px;
  background-color: white;
  margin-left: 250px;
  margin-top: 10px;
  border-radius: 3px;
}

form {
	width: auto;
	height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
	align-items: center;
}

p{
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  margin-left: 20px;
}

summary {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  letter-spacing: 3px;
  text-align: center;
}

button {
  margin: 20px 0px 10px 0px;
  width: 80px;
}

input {
  font-family: 'Raleway', sans-serif;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  margin: 30px 150px;
}

select {
  font-family: 'Raleway', sans-serif;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  margin: 30px 150px;
}

form label{
	color:white;
	margin-left: 150px;
}

.opcion {
	margin-top: 18px;
	text-align: center;
}

.tituloarticulo {
	color: white;
	font-size: 25px;
	text-align: center;
}

@media(max-width:800px){
    header {
      height: 90px;
      display: flex;
      flex-wrap: nowrap;
    }

    header img{
      height: 90px;
      border-radius: 5px;
    }

    header span{
      margin-left:220px;
      line-height: 90px;
      font-size: 19px;
    }

    section {
     width: 150px;
      margin-top: 250px;
    }

    section img {
      width: 90px;
      margin-left:30px;
    }

    section p {
      font-size: 15px;
    }

    summary {
      font-size: 17px;
    }

    .tituloarticulo {
      font-size: 19px;
    }

    footer {
      margin-top: 350px;
    }
}

@media(max-width:700px){
    header {
      height: 70px;
      display: flex;
      flex-wrap: nowrap;
    }

    header img{
      height: 70px;
      border-radius: 5px;
    }

    header span{
      margin-left:175px;
      line-height: 70px;
      font-size: 17px;
    }

    section {
     width: 150px;
      margin-top: 200px;
    }

    section img {
      width: 90px;
      margin-left:30px;
    }

    section p {
      font-size: 13px;
    }

    summary {
      font-size: 15px;
    }

    .tituloarticulo {
      font-size: 17px;
    }

    footer {
      margin-top: 250px;
    }
}

@media(max-width:415px){
    header {
      height: 50px;
      display: flex;
      flex-wrap: nowrap;
    }

    header img{
      height: 50px;
      border-radius: 5px;
    }

    header span{
      margin-left:70px;
      line-height: 50px;
      font-size: 15px;
    }

    section {
     width: 150px;
      margin-top: 200px;
    }

    section img {
      width: 50px;
      margin-left:50px;
    }

    section p {
      font-size: 11px;
    }

    summary {
      font-size: 13px;
    }

    .tituloarticulo {
      font-size: 15px;
    }

    footer {
      margin-top: 250px;
    }
}

@media(max-width:400px){
    header {
      height: 50px;
      display: flex;
      flex-wrap: nowrap;
    }

    header img{
      height: 50px;
      border-radius: 5px;
    }

    header span{
      margin-left:70px;
      line-height: 50px;
      font-size: 15px;
    }

    section {
     width: 150px;
      margin-top: 200px;
    }

    section img {
      width: 50px;
      margin-left:50px;
    }

    section p {
      font-size: 11px;
    }

    summary {
      font-size: 13px;
    }

    .tituloarticulo {
      font-size: 15px;
    }

    footer {
      margin-top: 250px;
    }
}
