header {
	width: 100%;
	height:100px;
	background-color: #F4FA58;
  display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

header img {
	height: 90px;
	margin-left: 5px;
	background-image: url("imagenes/logotipo.jpeg");
	border-radius: 7px;
	box-shadow: 0 0 15px black;
	background: black;
}

span {
  margin-left: 350px;
	font-size: 20px;
	font-family: NanumGothic;
	font-weight: bolder;
	color: black;
}

section {
	margin: 20px 15px 20px 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

section img {
	width: 200px;
	height: 200px;
}

details {
	text-align: left;
}

.tituloarticulo {
	font:normal normal 20px NanumGot;
	color:black;
	letter-spacing:4px;
	text-align:left;
}
