section {
	margin: 20px 15px 20px 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

section img {
	width: 200px;
	height: 200px;
}

details {
	text-align: left;
}

.tituloarticulo {
	font:normal normal 20px NanumGot;
	color:black;
	letter-spacing:4px;
	text-align:left;
}
