.error {
  border-color: red;
  background-color: red;
  display: none;
  width: 35px;
  margin-left: 150px;
  font-family: 'Raleway', sans-serif;
  width: 60%;
  height: 20px;
  border-radius: 5px;
  }

.error:before{
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #438cdb transparent;
  top: 8px;
  left: -5px;
}

  .indicacion {
    background-color: #FE2E2E;
  }
