.error {
  border-color: #BC1010;
  background-color: #BC1010;
  display: none;
  width: 35px;
  margin-left: 150px;
  font-family: 'Raleway', sans-serif;
  width: 60%;
  height: 20px;
  border-radius: 5px;
  padding: 6px 12px;
  color: white;
  position: relative;
  }

.error:before{
  content: '';
  border-top: 8px solid transparent;
  border-bottom: 8px solid #BC1010;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  left: -5px;
  position: relative;
  top: -33px;
}
