header {
  width: 100%;
  height:auto;
  background-color: #F4FA58;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
}

header img{
  height: 90px;
  border-radius: 5px;
}

header span{
  font-family: 'Raleway', sans-serif;
  margin-left:400px;
  line-height: 90px;
  font-size: 20px;
}

.cuerpo {
  margin-top: auto;
  background-color:black ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  background-color: black;
}

::placeholder{
  font-size: 20px;
}

section {
  width: auto ;
  margin-top: 150px;
  border-radius: 10px;
  background-color: #2E2E2E;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav span {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  margin-left: 80px;
}

nav a  {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  margin-left: 20px;
  text-decoration: underline;
}

.reg  a{
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  text-decoration: underline;
  margin-right: 50px;
}

h1,h2 {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  letter-spacing: 3px;
  text-align: center;
}

button {
  margin: 20px 0px 10px 300px;
  width: 80px;
}

input {
  font-family: 'Raleway', sans-serif;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  margin: 30px 150px;
}

@media screen and (max-width:400px),(max-width:415px){
  header {
   height: 50px;
   display: flex;
   flex-wrap: nowrap;
  }

  header img{
    height: 50px;
    border-radius: 5px;
  }

  header span{
   margin-left:75px;
   line-height: 50px;
   font-size: 15px;
  }

  ::placeholder{
    font-size: 10px;
  }

  section {
    width: auto;
    margin-top: 130px;
}


  h1,h2 {
    font-size: 14px;
  }

  nav span {
    font-size: 9px;
    margin-left: 20px;
  }

  nav a  {
    font-size: 10px;
    margin-left: 10px;
  }

  .reg  a{
    margin-right: 15px;
  }

  button {
    margin: 20px 0px 10px 130px;
    font-size: 10px;
  }

  input {
    height: 25px;
    margin: 30px 70px;
    font-size: 9px;
  }

  footer {
    margin-top: 100px;
  }
}
