header {
	height:100px;
	background-color: #F4FA58;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.boton1 {
	margin-left:auto;
}

.boton2 {
	margin-left: auto;
}

.fotito a img{
	height:90px;
  background-image: url("imagenes/fotoperfil.jpg");
	margin-left: 150px;
	background: black;
  border: 2px solid black;
	border-radius: 5px 5px 5px 5px;
}

.logo img{
	margin: 10px;
	height:90px;
	margin-left:15px;
  border: 2px solid black;
	border-radius: 5px 5px 5px 5px;

}
