header {
	height:100px;
	background-color: #F4FA58;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

header a {
	font-size: 14px;
	font-family: NanumGothic;
	font-weight: lighter;
	color: black;
	margin: 10px;
	text-decoration: none;
}

header img {
	margin: 10px;
	height:90px;
	background-image: url("imagenes/logotipo.jpeg");
}
