header {
	height:100px;
	background-color: #F4FA58;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

span{
	margin-left: auto;
	font-size: 20px;
	font-family: NanumGothic;
	font-weight: bolder;
	color: black;
}

.botones{
	margin-left: 200px;
}

header a {
	font-size: 16px;
	font-family: NanumGothic;
	font-weight: lighter;
	color: black;
	margin: 10px;
	text-decoration: none;
	border: 2px solid black;
	border-radius: 5px 5px 5px 5px;
}


header img {
	height:90px;
	margin-left: 5px;
	background-image: url("imagenes/logotipo.jpeg");
	border-radius: 7px;
	box-shadow: 0 0 15px black;
	background: black;
}
