.menuprincipal {
	font-family: 'Verdana';
	font-style: medium;
	font-weight: 600;
	height:30px;
	color:#1C12DC;
	background-color: #F7FE2E;
	border: 2px solid black;
  		display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.menuinferior {
	font-family: "Verdana";
	font-style: medium;
	font-weight: 600;
	height:170px;
	width: auto;
	color:#000000;
	background-color: #F7FE2E;
    	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.menuinferior li{
	font-family: cursive;
	font-weight: lighter;
}

nav p {
	text-align: left;
	transition: 1.5s ease;
	cursor:pointer;
	cursor:hand;
}

nav li:hover {
	transform:scale(1.2);
}
