.menuprincipal {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-style: medium;
	font-weight:lighter;
	height: 50px;
	color:#000000;
	background-color: #F4FA58;
	border-radius: 5px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.menuinferior {
	font-family: 'Raleway', sans-serif	;
	font-weight: lighter;
	font-style: medium;
	width: auto;
	color:#000000;
	background-color: #F4FA58;
	border-radius: 5px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.menuinferior li{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

nav p,li,a{
	text-align: left;
	transition: 1.5s ease;
	cursor:pointer;
	cursor:hand;
	text-decoration: none;
}

nav li:hover {
	transform:scale(1.2);
}

li a{
	color:#000000;
	font-size: 14px;
}

.menuprincipal{
	font-size: 14px;
}

.sociales {
	list-style: none;
}
