header {
  width: 100%;
  height:auto;
  background-color: #F4FA58;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
}

header img{
  height: 90px;
  border-radius: 5px;
}

header span{
  font-family: 'Raleway', sans-serif;
  margin-left:300px;
  line-height: 90px;
  font-size: 20px;
}

body {
	background-color:black;
}

.contenedor{
	margin-top: auto;
  background-color:black ;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
	color: white;
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

section img {
	width: 200px;
	height: 200px;
}

details {
	text-align: left;
}

.nombre {
	font-family: 'Raleway', sans-serif;
  font-size: 25px;
	color:white;
	letter-spacing:4px;
	text-align:left;
}

p {
	font-family: 'Raleway', sans-serif;
	color:white;
  text-align: center;
}

aside {
	color: white;
}

a {
	text-decoration:none;
}

.opcperfil {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-style:normal;
	font-weight: lighter;
	height: 120px;
	color: black;
	background-color: #E2E2E2;
	border-radius: 5px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items:flex-start;
	margin: 2px;
}
