header {
  width: 100%;
  height:auto;
  background-color: #F4FA58;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
}

header img{
  height: 90px;
  border-radius: 5px;
}

header span{
  font-family: 'Raleway', sans-serif;
  margin-left:300px;
  line-height: 90px;
  font-size: 20px;
}

body {
	background-color:black;
}

.contenedor{
	margin-top: auto;
  background-color:black ;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
	color: white;
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

section img {
	width: 200px;
	height: 200px;
  border-radius: 3px;
}

section span {
  font-size: 15px;
}

details {
	text-align: left;
}

.nombre {
	font-family: 'Raleway', sans-serif;
  font-size: 25px;
	color:white;
	letter-spacing:4px;
	text-align:left;
}

p {
	font-family: 'Raleway', sans-serif;
	color:white;
  text-align: center;
}

section span {
  font-family: 'Raleway', sans-serif;
	color:white;
  text-align: center;
  font-size: 25px;
}

aside {
	color: white;
}

a {
	text-decoration:none;
}

.opcperfil {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-style:normal;
	font-weight: lighter;
	height: 120px;
	color: black;
	background-color: #E2E2E2;
	border-radius: 5px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items:flex-start;
	margin: 2px;
}


@media (max-width:800px){
  header {
    height: 90px;
    display: flex;
    flex-wrap: nowrap;
  }

  header img{
    height: 90px;
    border-radius: 5px;
  }

  header span{
    margin-left:200px;
    line-height: 90px;
    font-size: 19px;
  }

  section {
    width: auto;  
    margin-top: 150px;
  }

  section img {
    width: 100px;
    height: 100px;
  }

  section span {
    font-size: 21px;
  }

  section p {
    font-size: 15px;
  }

  .nombre {
    font-size: 19px;
  }

  .opcperfil {
    margin-top: 90px;
    height: auto;
    font-size: 18px;
  }

  footer {
    margin-top: 400px;
  }
}

@media (max-width:640px){
  header {
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
  }

  header img{
    height: 70px;
    border-radius: 5px;
  }

  header span{
    margin-left:175px;
    line-height: 70px;
    font-size: 15px;
  }

  section {
    width: auto;
    margin-top: 90px;
  }

  section img {
    width: 80px;
    height: 80px;
  }

  section span {
    font-size: 18px;
  }

  section p {
    font-size: 12px;
  }

  .nombre {
    font-size: 14px;
  }

  .opcperfil {
    margin-top: 40px;
    height: auto;
    font-size: 14px;
  }

  footer {
    margin-top: 200px;
  }
}

@media (max-width:415px){
  header {
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
  }

  header img{
    height: 60px;
    border-radius: 5px;
  }

  header span{
    margin-left:75px;
    line-height: 60px;
    font-size: 15px;
  }

  section {
    width: auto;
    margin-top: 90px;
  }

  section img {
    width: 70px;
    height: 70px;
  }

  section span {
    font-size: 17px;
  }

  section p {
    font-size: 11px;
  }

  .nombre {
    font-size: 13px;
  }

  .opcperfil {
    margin-top: 30px;
    height: auto;
    font-size: 12px;
  }

  footer {
    margin-top: 250px;
  }
}

@media (max-width:360px){
  header {
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
  }

  header img{
    height: 50px;
    border-radius: 5px;
  }

  header span{
    margin-left:75px;
    line-height: 50px;
    font-size: 15px;
  }

  section {
    width: auto;
    margin-top: 90px;
  }

  section img {
    width: 70px;
    height: 70px;
  }

  section span {
    font-size: 17px;
  }

  section p {
    font-size: 11px;
  }

  .nombre {
    font-size: 13px;
  }

  .opcperfil {
    margin-top: 30px;
    height: auto;
    font-size: 12px;
  }

  footer {
    margin-top: 200px;
  }
}
