.p1 {
	width:450px;
	height:300px;
	font-family: 'Raleway', sans-serif;
	color: white;
	background-color:#2E2E2E;
	margin: 20px 15px 20px 15px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.p1 figure img {
  background-color: white;
	width: 150px;
	height: 150px;
}

.p1 div.descripcion {
	text-align: left;
}

.tituloarticulo {
	font-family: 'Raleway', sans-serif;
	color:white;
	font-size: 14px;
	letter-spacing:4px;
	text-align:left;
}

.p2 {
	width:450px;
	height:300px;
	font-family: 'Raleway', sans-serif;
	color: white;
	background-color:#2E2E2E;
	margin: 20px 15px 20px 15px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch	;
}

.p2 figure img {
  background-color: white;
	width: 150px;
	height: 150px;
}

.p2 div.descripcion {
	text-align: left;
}

.tituloarticulo {
	font-family: 'Raleway', sans-serif;
	color:white;
	font-size: 14px;
  font-style: italic;
	letter-spacing:4px;
	text-align:left;
}

.p3 {
	width:450px;
	height:300px;
	font-family: 'Raleway', sans-serif;
	color: white;
	background-color:#2E2E2E;
	margin: 20px 15px 20px 15px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch	;
}

.p3 figure img {
  background-color: white;
	width: 150px;
	height: 150px;
}

.p3 div.descripcion {
	text-align: left;
}

.tituloarticulo {
	font-family: 'Raleway', sans-serif;
	color:white;
	font-size: 14px;
  font-style: italic;
	letter-spacing:4px;
	text-align:left;
}

@media screen and (max-width:400px),(max-width:415px) {
	.p1 {
		width:300px;
		height:120px;
		font-size: 10px;
	}

	.p1 figure img {
	  background-color: white;
		width: 70px;
	}

	.tituloarticulo{
		font-size: 12px;
		letter-spacing: 0px;
	}

	.p2 {
		width:300px;
		height:120px;
		font-size: 10px;
	}

	.p2 figure img {
	  background-color: white;
		width: 70px;
	}

	.tituloarticulo{
		font-size: 12px;	
		letter-spacing: 0px;
	}

	.p3 {
		width:300px;
		height:120px;
		font-size: 10px;
	}

	.p3 figure img {
	  background-color: white;
		width: 70px;
	}

	.tituloarticulo{
		font-size: 12px;
		letter-spacing: 0px;
	}
}
