header {
  width: 100%;
  height:auto;
  background-color: #F4FA58;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
}

header img{
  height: 90px;
  border-radius: 5px;
}

header span{
  font-family: 'Raleway', sans-serif;
  margin-left:200px;
  line-height: 90px;
  font-size: 20px;
}

.negritas {
  color:white;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}

body {
  background-color: black;
}

.contenedor{
	margin-top: auto;
  background-color:black ;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
	margin-top: 150px;
  background-color:#2E2E2E;
  border-radius: 5px;
  width: 700px;
  height:600px;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 23px;
  text-align: center;
}

section p {
    color:white;
  	font-family: 'Raleway', sans-serif;;
    padding: 20px;
    font-weight: 600;
    font-size: 15px;
		text-align: justify;
}

@media screen and (max-width:400px),(max-width:415px){
  header {
    height: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  header img{
    height: 50px;
    border-radius: 5px;
  }

  header span{
    margin-left:70px;
    line-height: 50px;
    font-size: 15px;
  }

  section {
    width: auto;
    margin-top: 90px;
  }

  .negritas {
    font-size: 15px;
  }
  
  section p {
    font-size: 12px;
  }

  h1 {
    font-size: 16px;
  }
