h1 {
  font-family: NanumGothic;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: black;
}

form {
  width: 300px;
  height: 600px;
  margin-left: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

form label{
  color:black;
  font-size: 14px;
  font-family: NanumGothic;
  font-weight: lighter;
  margin-top: 18px;
  width: 300px;
}
.opcion {
  margin-top: 18px;
}

.img {
  margin-top: 18px;
}
button {
  background: #2E2E2E;
  color: #F4FA58;
  font-size: 17px;
  font-family: NanumGothic;
  border-radius: 10px;
	box-shadow: 0 0 15px black;
  margin-top:20px;
  margin-left: 90px;
  width: 100px;
}
